# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- cherrytree

pool:
  vmImage: 'windows-latest'

variables:
  solution: '$(Build.SourcesDirectory)/PKHeX-Plugins.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  displayName: Use .NET 10.0
  inputs:
    packageType: 'sdk'
    version: '10.0.x'
    
- task: NuGetToolInstaller@1
  inputs:
    versionSpec: '>=6.4.0'
    checkLatest: true

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- powershell: |
    git clone -q --depth=5 --branch=master https://github.com/kwsch/PKHeX.git $(Build.SourcesDirectory)/PKHeX

- task: NuGetCommand@2
  inputs:
    command: 'restore'
    restoreSolution: '$(Build.SourcesDirectory)/PKHeX/PKHeX.sln'
    noCache: true

- task: DotNetCoreCLI@2
  displayName: 'Build PKHeX.Core (dotnet)'
  inputs:
    command: 'build'
    projects: '$(Build.SourcesDirectory)/PKHeX/PKHeX.Core/PKHeX.Core.csproj'
    arguments: '--configuration $(buildConfiguration) --no-restore /p:Platform="$(buildPlatform)"'

- powershell: |
    $nugetver = (Get-ChildItem "$(UserProfile)/.nuget/packages/pkhex.core" | Sort-Object -Property LastWriteTime -Descending)[0].Name
    Copy-Item "$(Build.SourcesDirectory)\pkhex\PKHeX.Core\bin\Release\net10.0\PKHeX.Core.dll" "$(UserProfile)\.nuget\packages\pkhex.core\$nugetver\lib\net10.0"

- task: DotNetCoreCLI@2
  displayName: 'Build PKHeX-Plugins solution (dotnet)'
  inputs:
    command: 'build'
    projects: '$(solution)'
    arguments: '--configuration $(buildConfiguration) --no-restore /p:Platform="$(buildPlatform)"'

- task: CmdLine@2
  inputs:
    script: |
      mkdir bin
      xcopy $(Agent.BuildDirectory)\s\AutoLegalityMod\bin\Release\net10.0-windows\AutoModPlugins.dll $(Agent.BuildDirectory)\s\bin

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Agent.BuildDirectory)\s\bin'
    ArtifactName: 'PKHeX-Plugins'
    publishLocation: 'Container'
